<div ng-controller="IndexController" class="padding">

    <script src="https://apis.google.com/js/client.js" ng-init="handleClientLoad()"></script>
    <link rel="stylesheet" href="styles/index.css">

    <super-navbar>
        <super-navbar-title>
            Pocket Assistant
        </super-navbar-title>
    </super-navbar>

    <div ng-hide="cal">
        <button id="authorize-button" class="button button-block button-stable" ng-click="handleClientLoad()">Authorize</button>
    </div>

    <div ng-show="cal">
        <div class="date">
            <div class="date-content">
                <i class="icon super-chevron-left" ng-click="prevdate()"></i>
                <i class="icon super-calendar"></i>
                {{day+", "+month+" "+date+", "+year}}
                <i class="icon icon-right super-chevron-right" ng-click="nextdate()"></i>
            </div>
        </div>

        <div>
            <div class="title">
                Reminder
                <i class="icon super-ios7-alarm"></i>
            </div>
            <div>
                <button class="button button-block button-calm">
                    <div class="row">
                        <div>3 hours</div>&nbsp&nbsp&nbsp
                        <div>Meeting with Professor</div>
                    </div>
                </button>
                <button class="button button-block button-energized">
                    <div class="row">
                        <div>3 days</div>&nbsp&nbsp&nbsp
                        <div>Midterm-Machine Learning</div>
                    </div>
                </button>
                <button class="button button-block button-assertive">
                    <div class="row">
                        <div>5 days</div>&nbsp&nbsp&nbsp
                        <div>EECS 510 project1 due</div>
                    </div>
                </button>
            </div>
        </div>

        <div>
            <div class="title">
                Schedule
                <i class="icon super-clipboard"></i>
            </div>

            <div>
                <div ng-repeat="ev in events">
                    <super-navigate view-id="example#edit?id={{ev.id}}" ng-hide="ev.colorId === '0'" class="row event" ng-class="{'blue' : ev.colorId >= '5' ,'pink': ev.colorId >= '1','grey': ev.colorId === '1','green': ev.colorId === Null}">
                        <div class="col col-20 eventTime" ng-class="'#ffc900'">{{ev.start.dateTime | date:"h:mm"}} - {{ev.end.dateTime | date:"h:mm"}}</div>
                        <div class="col col-80">&emsp;{{ev.summary}}</div>
                    </super-navigate>
                    <div ng-show="ev.colorId === '0'">
                        <div ng-hide="ev.addedEvent">
                            <div class="row suggestion" >
                                <div class="col col-70">
                                    <div ng-show="isActive(ev,-1)"><i class="icon super-coffee"></i>&emsp;{{ev.start.dateTime | date:"h:mm"}} - {{ev.end.dateTime | date:"h:mm"}}</div>
                                    <div ng-hide="isActive(ev,-1)">{{ev.start.dateTime | date:"h:mm"}}-{{ev.end.dateTime | date:"h:mm"}}&emsp;{{sugg[ev.active].activity}}</div>
                                </div>
                                <button class="col col-15 button button-clear button-assertive addButton" ng-disabled="isActive(ev,-1) || ev.addedEvent" ng-click="addCalendarData(ev)">
                                    <div>Add</div>
                                </button>
                                <button class="col col-15 button button-icon icon super-navicon" ng-click="toggle(ev)"></button>
                            </div>

                            <div ng-show="ev.showOption">
                                <div ng-repeat="suggestion in sugg">
                                    <div class="sugglist row" ng-class="{active: isActive(ev,suggestion.id)}" ng-click="setActive(ev,suggestion.id)">
                                        <div class="col col-90">{{suggestion.activity}}</div>
                                        <i class="col col-10 icon super-checkmark"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>