.column-icon
{
    text-align:center;
    font-size:25px;
}


.area{
    font-size:18px;
    height:55px;
    padding-top:10px;
    font-family:Comic Sans;
}

input[type="text"]
{
    font-family:Comic Sans;
}
