.date
{
    text-align: center;
    width: 100%;
    font-size: 17px;
    font-weight: bold;
    margin-bottom:8px;
}
.title
{
    margin-left: 8px;
    font-size: 20px;
    color: black;
    font-weight:bold;
}
.meal
{
    text-align:center;
}
.suggestion
{
    padding-left: 10px;
    background-color: #e11f6e;
    color: #f8f8f8;
    font-size: 15px;
}
.go
{
    float: right;
    border: 5px black;
    padding-right: 10px;
}

