body{
    background: url("/images/SplashScreen.jpg") no-repeat center center fixed;
    background-size: cover;
}
#authorize-button{
    position:absolute;
    top:71%;
    left:10.1%;
    width:80%;
    background:-webkit-gradient(radial, 165 0, 0, 244 -257, 465, from(#0053FF), to(#00CEFF));
    border-radius: 42px;
    font-family: lucida;
    box-shadow:5px 5px 2.5px #000000;
    color:white;
}

.date
{
    background-color: #c9ffc7;
    text-align: center;
    width: 100%;
    height: 52px;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    border: 1px solid #7eb267;
}
.date-content
{
    padding-top: 15px;
}
.date .super-chevron-left
{
    float: left;
}
.date .super-chevron-right
{
    float: right;
}
.title
{
    margin-left: 8px;
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.event
{
    height: 52px;
    padding-left: 10px;
    color: #f8f8f8;
    padding-right: 10px;
    padding-top: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    border-radius: 2px;
}
.eventTime
{
    font-size: 14px;
}
.blue
{
    background-color: #27c3ff;
    border: 1px solid #1c98ff;
}
.green
{
    background-color: #17b225;
    border: 1px solid #18b273;
}
.purple
{
    background-color: #802f7a;
    border: 1px solid purple;
}
.red
{
    background-color: #ff332e;
    border: 1px solid red;
}
.yellow
{
    background-color: #ffce34;
    border: 1px solid #ffde1f;
}
.orange
{
    background-color: #ff7a45;
    border: 1px solid #ff5b1e;
}
.turquoise
{
    background-color: turquoise;
    border: 1px solid #13cae0;
}
.grey
{
    background-color: #f8f8f8;
    border: 1px solid #b2b2b2;
    color: #444;
}
.boldBlue
{
    background-color: blue;
    border: 1px solid #2d02ff;
}
.boldGreen
{
    background-color: darkgreen;
    border: 1px solid darkgreen;
}
.boldred
{
    background-color: #ff1e02;
    border: 1px solid red;
}
.pink
{
    border-color: #ff122d;
    background-color: #ff517b;
}
.NoId
{
    border-color: #54ffee;
    background-color: #28e2ff;
}
.row .super-edit
{
    font-size:18px;
    padding-top:4%
}
.currentEvent
{
    font-weight: bold;
}
.now
{
    color: black;
}
.conflict1
{
    border-top: 3px solid #06090a;
    border-left: 3px solid #06090a;
    border-right: 3px solid #06090a;
    position: relative;
    top: 5px;
}
.conflict2
{
    border-bottom: 3px solid #06090a;
    border-left: 3px solid #06090a;
    border-right: 3px solid #06090a;
    position: relative;
    top: -5px;
}
.suggestion
{
    height: 52px;
    padding-left: 10px;
    background-color: #f8f8f8;
    color: #444;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    border-radius: 2px;
    border: 1px solid #b2b2b2;
}
.suggestion i
{
    font-size: 25px;
}
.addButton
{
    margin-top: -5px;
    font-size: 13px;
}
.sugglist
{
    height: 45px;
    background-color: #ffcaca;
    padding-left: 10px;
    padding-top: 10px;
    border: 1px solid #b2b2b2
}
.active
{
    background-color: #ff8e9b;
}
.col-15
{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 15%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 15%;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
}
.col-70
{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 70%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 70%;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
}
.hideReminder{
    float: right;
    margin-bottom: 4px;
}
.column-icon
{
    text-align:center;
    font-size:25px;
}
.area{
    font-size:18px;
    height:55px;
    padding-top:10px;
    font-family:Times;
}

input[type="text"]
{
    font-family:Times;
}
.undo{
    color:white;
    font-family:Times;
    font-size:28px;
    position:absolute;
    left:81%;
    top:-10px;
}


